<form [formGroup]="equipmentGroupForm" (ngSubmit)="equipmentGroupAdded()"  class="border p-3">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 gb-light">
           <span class="fs-3">Equipment Groups</span>
        </div>
    </div>
    
    <div class="row mb-3">
        
            <label for="equipmentgroupname" class="form-label">EquipmentGroup Name</label>
            <input type="text" class="form-control" id="equipmentgroupname" formControlName="equipmentgroupname">
        
    </div>
    
    <div class="row mb-3">
       
            <label for="equipmentcategoryid" class="form-label">Equipment CategoryId</label>
            <input type="text" class="form-control" id="equipmentcategoryid" formControlName="equipmentcategoryid">
      
    </div>
    
    <div class="row">
        <div class="col">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Add EquiGrp</button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Upd EquipGrp</button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Del EquipGrp</button>
            </div>
        </div>
    </div>
</form>

