<form [formGroup]="equipmentForm" (ngSubmit)="equipmentAdded()"  class="border p-3">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 gb-light">
           <span class="fs-3">Equipments</span>
        </div>
    </div>
   
    <div class="row mb-3">
        
            <label for="equipmentname" class="form-label">Equipment Name</label>
            <input type="text" class="form-control" id="equipmentname" formControlName="equipmentname">
        
    </div>
    <div class="row mb-3">
        
            <label for="partid" class="form-label">Part Id</label>
            <input type="text" class="form-control" id="partid" formControlName="partid">
        
    </div>
    <div class="row mb-3">
       
            <label for="equipmentgroupid" class="form-label">Equipment GroupId</label>
            <input type="text" class="form-control" id="equipmentgroupid" formControlName="equipmentgroupid">
      
    </div>
    <div class="row mb-3">
       
        <label for="equipmentcategoryid" class="form-label">Equipment CategoryId</label>
        <input type="text" class="form-control" id="equipmentcategoryid" formControlName="equipmentcategoryid">
  
</div>
    <div class="row">
        <div class="col">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Add Equipment</button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Upd Equip</button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Del Equip</button>
            </div>
        </div>
    </div>
</form>

